/* reset for page  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* global style */
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

body{
    line-height: 1.5;
}

/* img{width: 100%;} */

h1,h2,h3,h4{
    font-weight: bold;
    margin: 0.5em 0 0.2em;
    width: 95%;
    padding: 2.5%;
}
h1{
    font-size: 5.063em;
}
h2{
    font-size: 3.375em;
}
h3{
    font-size: 2.25em;
}
h4{
    font-size: 1.5em;
}
p{  
    font-size: 1em;
    margin: 1em 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* whole body setting */
body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color: #f7f7f7;
}

header, .main, footer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;}


/* header decoration */
/* coupon decoration */
header>div>a{
    font-size: 1rem;
    color: white;
}
.coupon{
    border-radius: 5px;
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #FF9500;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* navigation */
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}
.nav ul{display: none;}
.nav img{width: 10%;}
.nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sign{
    padding-left: 100px;
    color: black;
}
.login{
    margin-left: 50px;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background-color:  #FF9500;
}
/* <!-- The banner, logos,video(img), benefits, courses, testimoninals, pricing, frequently --> */

/* <!-- the banner part --> */

.line{
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background-color: #e9e9e9;
}

.banner h2{
    font-size: 2.1rem;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* modify the unlock part */
.banner h1{
    font-size: 1.3rem;
    padding: 0%;
    width: 280px;

}
span{
    color:#FF9500;
}
.unlock img{
    width: 50px; border-radius: 5px;

}
.unlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    outline: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-top: 40px;
}
/* modify the link */

.link{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.link a{
    font-size: 1.3rem;
    padding: 15px;
    border-radius: 5px;
}
.one{ color: white;
    background-color: #FF9500;}
.two{ color: rgb(0, 0, 0);
    background-color: #ffffff;
    outline: 1px solid #e9e9e9;
}


/* 
modify other */
.banner p{font-size: 1.3rem;
    text-align: center}

.threeline{
    position: absolute;
    top: 165px;
    left:-160px;
}
.threeline img{
    width: 35px;
}

/* the 7 logos design */

.logos li img{
    width: 60px;
}
.logos ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logos{
    margin-top: 50px;
    padding: 20px 40px 20px 40px;
    background-color: white;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
}



.logos ul li:nth-child(even) {
    width: 1px;
    height: 80px;
    background-color:  #e9e9e9;
}
.logos ul li:nth-last-child(-n+8){
    display: none;
}

/* the video part */
.video img{width: 100%;}

/* the benefit part */
.benefits h2{
    font-size: 2.1rem;
    padding: 0%;
}
.benefits a{
    color: black;
    background-color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
    display: inline-block;
    margin-top: 20px;
}
.benefits h3,h4{
    padding: 0;
}
.b{margin-top: 30px;}
.b div{
    margin-top: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.b h3, .arrow{
    display: inline-block;
    width: 50px;
    align-self: end;
}
.b i{
    width: 15px;
    transform: rotate(-45deg);
    transform-origin: 30% 30%;
}
div .arrow{
    color: #FF9500;
    margin-top: 20px;
    width: 10px;
    padding: 15px;
    /* padding: 5px 10px 5px 10px; */
    background-color: #f7f7f7;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
}


/* the course part */
.course{
    width: 100%;
}
.course h2{
    font-size: 2.1rem;
    padding: 0%;
}
.course a{
    color: black;
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding: 15px 0px 15px 0px;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
    display: block;
    margin-top: 20px;
    text-align: center;
}

.course>div>a{
    width: 100px;
}

.tutors div{
    margin-top: 10px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.tutors div img{
    width: 100%;
}

.tutors ul{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.tutors li{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    outline: 1px solid #e9e9e9;
}

/* testimoninals part */

.testimoninals{
    width: 100%;
}
.testimoninals h2{
    font-size: 2.1rem;
    padding: 0%;
}
.testimoninals a{
    color: black;
    background-color: rgb(241, 241, 241);
    padding: 15px;
    border-radius: 5px;
    outline: 1px solid #e9e9e9;
    display: inline-block;
    text-align: center;
}

.customer>div{
    margin-top: 30px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    outline: 1px solid #e9e9e9;
}
.customer>div>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lineTwo{
    display: block;
    width:100%;
    height: 1px;
    background-color: #e9e9e9;
    padding: 0 30px 0 30px;
}
.customers img{width: 50px;}

.customers{
    width: 100%;
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.customers>p{margin-right: 50px;}

/* the footer */

.foot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contact>img{
    width: 70px;
    margin-left: -15px;
}

.homeaboutsocial{
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    gap: 30px;
}
.Social{
    width: 100%;
    order: 1;
}
.Social ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
}


@media screen and (min-width: 1200px){

    /* header setting */
    header{
        width: 98%;
    }
    .nav{
        width: 100%;
        justify-content: space-between;
    }
    .nav img{width: 3%;}


}